.transaction-form {
    grid-area: transaction-form;
  }

.transaction-form-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 6% 0px 9% 0px;
}

.form-width {
    width: 90%;
}

#modal-transaction-form > .form-width {
    margin: auto;
    display: block;
    margin-top: 15px;
}

.radio-button {
    padding: 0px 4px 0px 4px;
    border-radius: 50px;
    display: inline-flex;
    cursor: pointer;
    transition: .2s ease;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    font-size: 17px;
}

.radio-button:hover,
.radio-button:focus-within {
    background: rgba(#9F9F9F,.1);
}

.input {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: none;
    border: 0;
    box-shadow: inset 0 0 0 1px #9F9F9F;
    box-shadow: inset 0 0 0 1.5px #9F9F9F;
    appearance: none;
    padding: 0;
    margin: 0;
    transition: box-shadow 150ms cubic-bezier(.95,.15,.5,1.25);
    pointer-events: none;
}


.input:focus {
    outline: none;

}

.input:checked {
    box-shadow: inset 0 0 0 6px rgba(8,8,134,0.8);

}

span {
    vertical-align: middle;
    display: inline-block;
    line-height: 20px;
    padding: 0px 5px 0px 5px;
}

.text-input {
    border: 1px solid black;
    border-radius: 2px;
  }

.react-datepicker__input-container {
    width: inherit;
  }
  
.react-datepicker-wrapper {
    width: 100%;
  }

.transaction-form-title {
    text-align: center;
    font-family: Arial;
    margin: 0;
    padding: 0;
}