@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.background {
  margin-top: 10vh;
  height: 90vh;
  overflow-y: hidden;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url("homebackground.jpg");
  background-size: cover;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.credential-form {
  background-color: white;
  width: 28%;
  min-width: 300px;
  min-height: 450px;
  border-radius: 20px;
  box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.53);
}

.credential-form h1 {
  margin-top: 55px;
  margin-bottom: 25px;
  font-family: 'Roboto', 'sans-serif';
}

.credential-form input {
  border-color: rgba(0, 0, 0, 0.6);
}

.credential-form input:focus {
  box-shadow: 0px 0px 5px 1px rgba(255,0,0,0.53);
  border-color: rgba(0, 0, 0, 0.6);
}

.credential-form p {
  font-size: 17px;
}

.form-margin {
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

#bootstrap-overrides .form-submit {
  background: rgba(8,8,180,1);
  color: white;
}

.tippy-content {
  font-family: Arial;
  background: black;
  border-radius: 5px;
}

.blank-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background: white;
}